body {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.3;
}

h1 {
   font-size: 30px;
}

.header {
    padding: 200px 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: url(https://i.pinimg.com/originals/62/97/65/629765ecb994c9cc5bedbd22bdf00449.jpg)no-repeat center top/cover;
}

.header__wrapper {
   max-width: 200px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center; 
}

.header__wrapper_span {
    display: inline-block;
    height: 150px;
    flex-shrink: 0;
    border: 5px solid #fff;
    width: 150px;
    font-size: 100px;
    line-height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.header__wrapper_title {
    margin-bottom: 20px;
}

/* Services Section */ 

.services {
    padding: 50px 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.services__block {
    width: 23%;
}

.favicon {
    font-size: 60px;
    margin-bottom: 10px;
}

.services__block_title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
}

/* About Section */ 

.about {
    padding: 100px 0;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
}

.about__wrapper {
        max-width: 70%;
        display: flex;
        justify-content: space-around;
}

.info {
    max-width: 50%;
}

/* Footer */ 

.footer {
    text-align: center;
    padding: 50px 0;
    font-weight: 600;
}
