    /* Header */

 body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 17px;
   color: #000;
   line-height: 1.5em;
   text-align: center;
 }

 img {
     max-width: 273px;
 }

 h2 {
     font-size: 26px;
     font-weight: 700;
 }

 a {
     text-decoration: none;
 }

 .header {
     background: url(https://static.pexels.com/photos/248515/pexels-photo-248515.png) no-repeat center top / cover;
     background-color: #000;
     color: #fff;
     padding: 100px 0 150px 0;
     display: flex;
     justify-content: center;
 }

 .header__wrapper {
     max-width: 56%;
 }

 .header__wrapper_title {
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 900;
 }

 .header__wrapper_text {
     margin-bottom: 30px;
 }

 .header__wrapper_btn{
     max-width: 150px;
     display: inline-block;
     background-color: #333;
     color: #fff;
     border: 1px solid #666;
     padding: 18px 40px;
     display: inline-block;
 }

 .header__wrapper_btn:hover {
     background-color: #fff;
     color: #000;
 }

 /* Development */

 .development {
     color: #333;
     padding: 30px 0;
 }

 .development__title {
    margin-bottom: 20px;
 }

 .development__info {
     display: flex;
     justify-content: center;
 }

 .development__text {
    max-width: 28%;
 }

 /* Tools */

 .tools {
     padding: 30px 0;
     background-color: #333;
 }

 .tools__wrapper {
     display: flex;
     justify-content: center;
 }

 .device {
    max-width: 273px;
    background-color: #fff;
    margin-right: 20px;
 }

 .device__content_wrapper {
    padding: 30px;
 }

 .device__wrapper_picture {
    max-width: 273px;
 }

 .device__wrapper_title {
     font-size: 20px;
     font-weight: 900;
     margin-bottom: 40px;
 }

/* Digital */

.digital {
    padding: 50px 300px;
}

.digital__title {
    margin-bottom: 40px;
}

/* More-info Section */

.more-info {
    color: #fff;
}

.more-info__wrapper {
    display: flex;
    justify-content: space-between;
}

.more-info__wrapper_block{
    max-width: 50%;
}

.more-info__wrapper_block h2 {
    margin-bottom: 30px;
}

.one {
    padding: 70px 50px;
    background-color: #2690d4;
}

.one p {
    margin: 40px 0 30px;
}

.one a {
    color: #fff;
    text-decoration: none;
}

.two {
    padding: 70px 0;
    background-color: #333;
}

.two h2 {
   margin-bottom: 40px;
}

/* Footer */

.footer {
    padding: 40px 0;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}

.footer__anchor {
    color: #fff;
}

.footer__anchor span {
    color: #2690d4;
}
